<!DOCTYPE html>
<html land="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                FakePinterest
            {% endblock %}
        </title>
    </head>

    

    <body>
        {% block body %}

            <h1>Fake Pinterest</h1>
            <h2>A website similar to Pinterest</h2>


            {% block form %}
            <form method="POST">


                {{ form.csrf_token }}
                {{ form.email.label() }}
                {{ form.email() }}

                {{ form.password.label() }}
                {{ form.password() }}

                {{ form.confirmation_button() }}

            </form>
            <a href="{{ url_for('sign_up')}}">Don't have an Account? Sign Up Here!</a>
            {% endblock %}


        {% endblock %}
    </body>

    

</html>